.main {
  background-color: #cfa17d;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 82vh;
  overflow: hidden;
}

.center {
  margin-top: 4%;
  text-align: center;
  color: #f3e9e1;
  width: 60%;
  max-width: 800px;
  margin-bottom: 2rem;
}

.texto {
  color: #f3e9e1;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
}

.container {
  position: relative;
  bottom: 90px;
}

@keyframes slider {
  0% { transform: translateX(0%); }
  25% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  75% { transform: translateX(-300%); }
  100% { transform: translateX(0%); }
}

.sliderImg1 {
  background-image: url("../../assets/img1c.webp");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.sliderImg2 {
  background-image: url("../../assets/img2c.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.sliderImg3 {
  background-image: url("../../assets/img3c.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.container .wrapper {
  width: 30vw;
  height: 35vh;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  margin: 5rem auto;
  overflow: hidden;
}

.container .wrapper_holder {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  height: 100%;
  width: 100%;
  animation: slider 30s ease-in-out 1 normal forwards;
}

.container .button_holder {
  position: absolute;
  text-align: center;
  left: 33%;
  bottom: 27%;
}

.container .button_holder .button {
  background-color: transparent;
  border: solid black;
  width: 40px;
  height: 10px;
  cursor: pointer;
  display: inline-block;
  margin: 0.3rem;
}

legend {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  width: 40%;
  height: 20%;
  color: #f3e9e1;
  left: 34%;
  top: 60%;
}

