* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --text-color: #4a2c2a;
  --bg-primary-color: #8b5e3c;
  --bg-secondary-color: #f3e9e1;
}