.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: var(--text-color);
}

.container_modal {
  background-color: var(--bg-secondary-color);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 35%;
  max-height: 80vh;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
}

.section_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 15px;
  text-align: center;
}

.produtos_modal {
  width: 100%;
  margin-bottom: 20px;
}

.section_produtos_modal, .section_quantidade_modal {
  width: 100%;
  margin-bottom: 10px;
}

.item_modal h3, .section_quantidade_modal h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

select, input {
  width: 100%;
  height: 2.7rem;
  border-radius: 8px;
  border: solid 1px var(--border-color);
  background-color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
  outline: none;
  cursor: pointer;
  appearance: none;
  transition: border 0.3s ease;
}

select:disabled, input:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

select:hover, input:hover, select:focus, input:focus {
  border: solid 1px var(--btn-primary);
}

.lista_itens_modal {
  width: 100%;
  margin-bottom: 15px;
}

.lista_itens_modal h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.lista_itens_modal ul {
  list-style-type: none;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background: var(--bg-light);
}

.lista_itens_modal li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: white;
  border-radius: 4px;
  font-size: 0.95rem;
  margin-bottom: 5px;
}

.btn_modal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

button {
  flex: 1;
  min-width: 120px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  text-transform: uppercase;
}

.btn_add_item {
  background: var(--bg-primary-color);
}

.btn_add_item:hover:not(:disabled) {
  background: var(--btn-primary);
  transform: scale(1.05);
}

.btn_confirmar {
  background: var(--btn-success);
}

.btn_confirmar:hover:not(:disabled) {
  background: #218838;
  transform: scale(1.05);
}

.btn_cancelar {
  background: var(--btn-danger);
}

.btn_cancelar:hover:not(:disabled) {
  background: #c82333;
  transform: scale(1.05);
}

button:disabled {
  background-color: var(--btn-disabled) !important;
  cursor: not-allowed;
  transform: none !important;
}

/* Responsividade */
@media (max-width: 768px) {
  .container_modal {
    width: 90%;
    padding: 20px;
  }

  .btn_modal {
    flex-direction: column;
    gap: 5px;
  }

  button {
    width: 100%;
  }
}
